body {
	padding: 10px;
	width: 450px;
}

dialog {
	border: thin grey solid;
	border-radius: 4px;
	box-shadow: 0px 2px 10px #757575;
}

.usergroups-select {
	width: 100%;
	display: block;
	margin: 10px 0;
}

select[multiple] {
	min-height: 130px;
	padding: 3px 5px;
}

select[multiple] option {
	padding: 2px;
}

select[multiple] option:checked {
	text-shadow: none;
}

.actions {
	margin-top: -8px;
	font-size: 0.9em;
	width: 100%;
	text-align: right;
	margin-bottom: -7px;
}

.actions span.action {
	margin-right: 5px;
}

.actions span.action[disabled="true"] {
	cursor: default;
	opacity: 0.6;
	pointer-events: none;
}

.actions span.action,
.actions span.action[disabled="false"] {
	cursor: pointer;
}

.icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 4px;
	color: #676767;
	font-size: 1.3em;
}

.icon-add:before {
	content: '\f067';
}

.icon-upload:before {
	content: '\f0ee';
}

.icon-edit:before {
	content: '\f044';
}

.icon-delete:before {
	content: '\f1f8';
}

.icon[disabled="false"]:hover:before {
	color: black;
}

#notify {
	left: initial;
	right: 10px;
	background-color: rgb(240, 240, 240);
}

#notify .title {
	margin: 0;
}

.dialog {
	min-width: 300px;
}

.dialog .info {
	margin-bottom: 20px;
}

pre {
	display: inline-block;
	background: rgb(230, 230, 230);
	padding: 3px;
	font-size: 1.1em;
	margin: 3px 0;
}

.userRoles {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}

.userRoles th {
	text-align: left;
	border-bottom: thin lightgrey solid;
}

table.userRoles tr:nth-child(2) td {
	padding-top: 5px;
}

label {
	user-select:none;
}