@font-face {
	font-family: 'FontAwesome';
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

.hidden {
	display:none;
}

html, body {
	width: 280px;
	margin:0;
	padding:0;
	overflow: hidden;
	font-family: Verdana, Helvetica, sans-serif;
}

body {
	padding:10px;
	width: 260px;
}

h1 {
	padding: 10px 0;
	margin:0;
	text-align: center;
	font-size: 1.2em;
}

#logo {
	position: absolute;
	top:0;
	left:0;
}

fieldset { 
	border: thin grey solid;
	border-radius: 5px;
	margin-bottom: 15px;
}

legend {
	padding: 0 7px;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

li {
	border-bottom:thin lightgrey solid;
	padding: 10px 0;
	cursor:pointer;
	text-align: center;
	font-size:1.2em;
}

li:hover {
	font-weight:bold;
}

li:last-child {
	border-bottom:none;
}

.fa-help:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f059';
	padding-left: 4px;
	color: #676767;
	font-size: 1.1em;
	cursor: help;
}

p.extra {
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
    position: absolute;
    clear: both;
    bottom: 5px;
}

p.extra a {
    color: grey;
    font-size: 0.8em; 
    text-decoration: none; 
}

p.extra a:hover {
	text-decoration: underline;
}

p.extra a:not(:last-child) {
	border-right: thin solid lightgrey;
	padding-right: 5px;
}