.quicklink {
	clear:both;
	float:right;
	background-color: #fff;
    border: 1px solid #000;
    padding: 2px;
    margin: 2px;
	border-radius: 5px;	
}
.quicklink.faded {
    background-color: transparent;
    border: 1px solid #eee;
}
.ui-widget-content .quicklink.faded a {
	color:#333;
}
.ui-widget-content .quicklink a {
	text-decoration:none;
	color:#000;
}
.ui-widget-content .quicklink a:hover {
	text-decoration:underline;
}
.ui-widget-content #exportcsv {
	float:right;
	font-weight: bold;
}
.ui-widget-content a#exportcsv, .ui-widget-content a#exportcsv:link, .ui-widget-content a#exportcsv:visited, .ui-widget-content a#exportcsv:focus, .ui-widget-content a#exportcsv:active {
	color:#d00;
	text-decoration:underline;
}
.ui-widget-content a#exportcsv:hover {
	color:#000;
	text-decoration:none;
}

.row-current-date {
    background: rgba(100,255,100,0.1);
}

.row-old-date {
    background: rgba(255,100,100,0.1);
}

.row-new-date {
    background: rgba(255,255,255,0.5);
}
.row-current-date.row-accessible {
    background: rgba(0, 0, 255, 0.30);
}