@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#icb-content {
	width: 250px;
	height: 100%;
	background: #fdfdfd;
	position: fixed;
	top: 0;
	right: 0;
	border-left: 2px lightgrey solid;
	box-shadow: -2px 0 6px 0px #6d6d6d;
	z-index: 1005;
}

#icb-content.daylight {
	font-size: 14px;
	/* Enabled for Daylight servers. */
}

#icb-content #heading {
	margin:5px 10px;
}
#icb-content #heading h1 {
	font-weight: bold;
	font-size: 1.0em;
}
#icb-content #heading a {
	color:#00a;
	text-decoration: underline;
	float:right;
	margin-right: 15px;
}
#icb-content #heading a:hover {
	color:#a00;
	text-decoration: none;
}
#icb-content #close:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.3em;
    cursor: pointer;
    content: '\f00d';
	color: #868686;
}

#icb-content #close:hover:before {
	color: black;
}

#icb-content .children {
	overflow-y: auto;
	max-height:100%;
}

#icb-preview {
    width: 250px;
    height: calc(100% / 6);
    position: fixed;
    bottom: 0;
	box-shadow: 0 -2px 10px 0px #969696;
    border-top: 1px solid #969696;
	display:none;
	right:calc(250px + 9px);
	z-index: 1000;
}

.ui-resizable-handle.ui-resizable-w:before {
    color: #737373;
    height: 100%;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    content: '\f142';
    position: relative;
    left: 7px;
    top: 46%;
}

.hidden {
	display:none !important;
}

.d2l-page-bg {
	position: initial;
}

.message {
	color: green;
	font-size: 2em;
	flex: 1;
	margin: 10px;
	padding: 10px;
	line-height: 2em
}

.treeview {
	padding: 10px 0 5px;
	margin:0;
}

.treeview-rule {
	margin:0;
}

.treeview li {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	font-size:1em;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.treeview li[insertable]:hover {
	font-size: 1.1em;
	font-weight: bold;
}

.treeview li[insertable]:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f04a";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right:5px;
}

.treeview li[state]:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right:5px;
}

.treeview li[state="open"]:before {
	content: "\f068";
}

.treeview li[state="closed"]:before {
	content: "\f067";
}

ul.treeview-child {
	padding-top: 5px;
	display:block;
}

.treeview li[state="closed"] > ul {
	padding-left: 10px;
	display:none;
}

.treeview li[state="closed"] > ul {
	padding-left: 10px;
	display:none;
}

dialog {
	width: 30%;
	border: 2px grey solid;
	border-radius: 5px;
}

dialog .name {
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: thin lightgrey solid;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

dialog .info p {
	padding: 5px 0;
}

dialog input[type="text"] {
	display: block;
	margin: 10px 2px;
	width: 96%;
	padding: 5px;
	font-size: 1.4em;
}

dialog .btn {
	-webkit-appearance: none;
	user-select: none;
	background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
	color: rgb(68, 68, 68);
	text-shadow: rgb(240, 240, 240) 0px 1px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.25);
	border-image: initial;
	border-radius: 2px;
	font: inherit;
	margin: 0px 1px 0px 0px;
	outline: none;
	min-height: 2em;
	min-width: 4em;
	padding-bottom: 1px;
	-webkit-padding-end: 10px;
	-webkit-padding-start: 10px;
	background-color: buttonface;
	box-sizing: border-box;
	font-size: 1.2em;
	margin: 0 5px;
}

dialog .btn.okay_btn {
	font-weight: bold;
}
