@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.da_icon a::before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	cursor: pointer;
	color: #868686;
	width: 16px;
	height: 16px;
	padding: 3px;
}

.folder a::before {	content: '\f115'; }

.linked a::before {	content: '\f0c1'; }

.unlinked a::before { content: '\f127'; }

.checkbox { position: relative; }
.checkbox::before { 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 0.6em;
    cursor: pointer;
    color: #868686;
    width: 0;
    height: 0;
    padding: 3px;
    content: '\f046';
    position: absolute;
    left: -7px;
    top: -9px;
}