@font-face {
	font-family: 'FontAwesome';
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

.fa-icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #676767;
	font-size: 1.1em;
}

.fa-help:before {
	content: '\f059';
	padding-left: 4px;
	cursor: help;
}

.fa-cogs:before {
	content: '\f085';
	margin-left: -15px;
	padding-right: 5px;
}

.hidden {
	display:none !important;
}

dialog {
	width: 30%;
	border: 2px grey solid;
	border-radius: 5px;
	z-index: 1500;
}

dialog .name {
	margin:0;
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: thin lightgrey solid;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

dialog .info p {
	padding: 5px 0;
}

dialog input[type="text"] {
	display: block;
	margin: 10px 2px;
	width: 96%;
	padding: 5px;
	font-size: 1.4em;
}

dialog p,
dialog .info {
	font-size:1.2em;
}

dialog p.roleText {
	margin: 1em 0.1em;
}

dialog .btn {
	-webkit-appearance: none;
	user-select: none;
	background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
	color: rgb(68, 68, 68);
	text-shadow: rgb(240, 240, 240) 0px 1px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.25);
	border-image: initial;
	border-radius: 2px;
	font: inherit;
	margin: 0px 1px 0px 0px;
	outline: none;
	min-height: 2em;
	min-width: 4em;
	padding-bottom: 1px;
	-webkit-padding-end: 10px;
	-webkit-padding-start: 10px;
	background-color: buttonface;
	box-sizing: border-box;
	font-size: 1.2em;
	margin: 0 5px;
	cursor:pointer;
}

dialog .btn.okay_btn {
	font-weight: bold;
}

td[aria-describedby="grdDialogResults_Select"] {
	text-align: center !important;
}

.fm-button[disabled=true] {
	cursor: default;
	color: grey;
	opacity: 0.75;
	pointer-events: none;
}

#notify {
	width: 250px;
	background-color: rgba(240, 240, 240, 0.8);
	min-height: 80px;
	border-radius: 10px 10px 0px 0px;
	border: thin lightgrey solid;
	position: absolute;
}

#notify.fade {
	animation-name: fadeout;
	animation-duration: 2s;
}

#notify .title {
	padding: 5px 8px;
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 10px 10px 0 0;
	border-bottom: 2px darkgrey solid;
	font-weight: bold;
}

#notify .close {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

#notify .desc {
	padding: 5px;
}

#staffSearchDialog ~ #notify,
body > #notify {
	bottom: 0;
	left: calc(50% - (250px / 2));
	border-bottom: none;
}

.UnitRequestTabPage > #notify {
	bottom: 61px;
	left: calc(50% - (250px / 2));
}

pre {
	display: inline-block;
	background: rgb(230, 230, 230);
	padding: 3px;
	font-size: 1.1em;
	margin: 3px 0;
	font-family:monospace;
}

@keyframes fadeout {
	from {
		opacity:1;
	}

	to {
		opacity:0;
	}
}

div[aria-describedby="staffGroupDialog"] button.ui-dialog-titlebar-close {
	visibility: hidden;
}

dialog {
	border: thin grey solid;
	border-radius: 4px;
	box-shadow: 0px 2px 10px #757575;
}

.usergroups-select {
	width: 100%;
	display: block;
	margin: 10px 0;
	
	font-size:1.1em;
	padding:5px;
}

select[multiple] {
	min-height: 200px;
	padding: 3px 5px;
}

select[multiple] option {
	padding: 2px;
}

select[multiple] option:checked {
	text-shadow: none;
}

.actions {
	margin-top: -8px;
	font-size: 0.9em;
	width: 100%;
	text-align: right;
	margin-bottom: -7px;
}

.actions span.action {
	margin-right: 5px;
}

.actions span.action[disabled="true"] {
	cursor: default;
	opacity: 0.6;
	pointer-events: none;
}

.actions span.action,
.actions span.action[disabled="false"] {
	cursor: pointer;
}

.icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 4px;
	color: #676767;
	font-size: 1.3em;
}

.icon-add:before {
	content: '\f067';
}

.icon-upload:before {
	content: '\f0ee';
}

.icon-edit:before {
	content: '\f044';
}

.icon-delete:before {
	content: '\f1f8';
}

.icon[disabled="false"]:hover:before {
	color: black;
}

#notify.center {
    background-color: rgb(240, 240, 240);
    bottom: 0;
    left: 50%;
    margin-left: -125px;
}

#notify .title {
	margin: 0;
}

.dialog {
	min-width: 300px;
}

.dialog .info {
	margin-bottom: 20px;
}

pre {
	display: inline-block;
	background: rgb(230, 230, 230);
	padding: 3px;
	font-size: 1.1em;
	margin: 3px 0;
}

.userRoles {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}

.userRoles th {
	text-align: left;
	border-bottom: thin lightgrey solid;
}

table.userRoles tr:nth-child(2) td {
	padding-top: 5px;
}

#staffGroupDialog {
	font-size: 1.2em;
}

#staffGroupDialog select {
	background-color: #FAFAFA;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: thin solid #CCC;
	padding: 5px 10px;
	border-radius: 4px;
	position: relative;
}

dialog input[type="text"].search-input {
	width: 46%;
	margin: 5px 0;
}

dialog .search-select {
	max-width: 100%;
	display: block;
	margin: 5px 0;
	font-size: 1.2em;
	padding: 5px;
}

dialog.dialog.dialog-search {
	min-width:500px;
	padding:15px;
}

.wrapper legend {
	position: absolute;
	top: -8px;
	background: white;
	padding: 0 8px;
}

.dialog-search table {
	margin: 10px 0px;
	width: 100%;
}

button#search_button {
	margin: 0;
	margin-left: auto;
}

.dialog-search tbody tr {
	border-bottom: thin #CCC solid;
	text-align: center;
}

.dialog-search tbody tr:last-child {
	border-bottom: none;
}

.dialog-search table.scroll  {
	display: table;
	width: 100%;
}

.dialog-search table.scroll thead,
.dialog-search table.scroll tbody {
	width: 100%;
}

.dialog-search table.scroll thead {
	overflow-y: scroll;
	display: table;
	table-layout: fixed;
	width: calc(100% - 17px);
}

.dialog-search table.scroll tbody {
	overflow-y: scroll;
	height: 150px;
	display: block;
}

.dialog-search table.scroll tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.loader {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 0.25rem solid rgba(50, 50, 50, 0.2);
	border-top-color: rgba(50, 50, 50, 0.8);
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	margin: 15px auto 25px;
}

.ui-button-text-icon-primary .ui-button-text {
	padding: 0 0 0 1.1em;
}

#closeGroupManager { float: right; }
#grdStaff { width: 100%; }