#md {
	width: 60%;
	max-width:1280px;
	margin:0 auto;
	margin-top:60px;
}

#md h1:first-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #f5f5f5;
	margin: 0;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: thin lightgrey solid;
	box-shadow: 0px 2px 4px 0px #e9e9e9;
}

#md h1:first-child img {
	margin-left: -70px;
	margin-right: 0px;
	margin-top: 5px;
	transform:scale(0.6);
}