.mylo-mate-current {
    background-color: rgba(100, 255, 100, 0.15) !important;
}

.mylo-mate-ended {
	background-color: rgba(255, 100, 100, 0.15)!important;
}

.mylo-mate-current.mylo-mate-accessible {
	background-color: rgba(0, 0, 255, 0.30) !important;
}
.mylo-mate-current.mylo-mate-accessible a,.mylo-mate-ended.mylo-mate-accessible a {
	color: #000;
}