@font-face {
	font-family: 'FontAwesome';
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

#clear-formatting:before,
#all-clear-formatting:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 4px;
	color: #676767;
	font-size: 1.3em;
	content: '\f12d';
	padding: 1px;
	margin: 0;
}

.d2l-toolbar-autopos {
	position: fixed;
    top: 2.6em;
    right: 0;
    width: 60%;
    left: 0;
    top: 0;
    margin-top: 2.6em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;
    border: thin lightgrey solid;
    box-shadow: 0 0px 7px 0px grey;
}

.d2l-toolbar-autopos .d2l-htmleditor-component-container {
	display:block;
	text-align:center;
}

.d2l-htmleditor-iframecontainer {
	min-height:144px;
	max-height:144px;
}

.editor-box {
    display: inline-block;
    padding: 5px;
    border: thin lightgrey solid;
    border-radius: 4px;
    margin: 5px;
    position: relative;
	padding-top: 8px;
	min-width:74px;
}

.editor-box span.legend {
	position: absolute;
	top: -9px;
	left: 5px;
	background: white;
	padding: 0 6px;
	color: grey;
	height: 1em;
}